.card {
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.24);
    transition: background-color 4.5s ease;
    transition: background 4.5s ease-out;
    cursor: pointer;
    font-weight: 500;
}
.card,
.card-header,
.card-footer {
    border:none;
    border-radius: 0;
}
.card-header,
.card-footer {
    padding: 1rem .5rem;
    background-color: transparent;
}
#location-wrapper {
    font-size: 1.1rem
}
.card-block {
    padding: 1.5rem 0;
}
#indicator {
    height: 165px;
    position: relative;
}
#indicator i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: -8% 0 0 -25%;
}
cavans {
    width: 110%;
    margin: 0 auto;
}
.card-block,
.card-footer {
    text-align: center;
}
.card-footer {
    padding-bottom: .5rem;
}
#detail-row {
    font-size: .8rem
}
#helper-row {
    padding-top: .5rem;
}
p {
    margin: .2rem;
}
p:not(.unit-label){
    text-transform: uppercase;
}
.card-header,
.card-block,
.card-footer {
    background: rgba(255, 255, 255, 0.44);
}
.text-muted {
    color: #333 !important;
}